.card {
    margin-bottom: 1rem;
}

.container {
    max-height: 200px;
    overflow: hidden;
}

.cardImg {
    object-fit: cover;
    height: 100%;
}

.post {
    border: 1px solid #eaeaea;
    padding: 20px;
    margin-bottom: 20px;
  }